body{
    background: #e5e5e5;
    margin-top: 40px;
}
.wrap{
    max-width: 840px;
    background: #fff;
    padding: 30px 20px;
    margin: 0 auto;
}
@media(max-width:480px){
    .wrap{
        margin: 0 15px;
    }
}
h1{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.inputbox{
    margin-top: 20px;
}
.inputbox label, .inputbox input{
    display: block;
}
.inputbox label{
    font-weight: 600;
}
.inputbox input, .inputbox select{
    width: 100%;
    margin-top: 5px;
    padding: 10px 5px;
    border-radius: 0;
    border: #e5e5e5 1px solid;
    font-size: 16px;
}

.top{
    display: flex;
    justify-content: space-between;
}
.top .inputbox{
    width: 49.5%;
}
@media(max-width:480px){
    .top{
        flex-direction: column;
    }
    .top .inputbox{
        width: 100%;
    }
}

.wrap p{
    margin-top: 10px;
}
.submitbt{
    width: 100%;
    border-radius: 0;
    border: 0;
    font-size: 16px;
    color: #fff;
    background: rgb(22, 22, 22);
    margin-top: 30px;
    padding: 10px;
}
.submitbt:hover{
    cursor: pointer;
    color: black;
    background: #777777;
    transition: 0.5s all;
}